<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body style="font-family: Verdana;">

    <div style="font-size: 14px; font-weight: bold;">Can we assist request</div>
    <br /><br />
    <label style="color:darkgreen;">Title / Titel</label>
    <br />
    #TITLE#
    <br /><br />

    <label style="color:darkgreen;">
        Name / Naam
    </label>
    <br />
    #NAME#
    <br /><br />

    <label style="color:darkgreen;">
        Surname / Van
    </label>
    <br />
    #SURNAME#
    <br /><br />

    <label style="color:darkgreen;">
        Cellphone Number / Selfoonnommer
    </label>
    <br />
    #CELL#
    <br /><br />

    <label style="color:darkgreen;">
        Work Number / Werksnommer
    </label>
    <br />
    #WORKNUMBER#
    <br /><br />

    <label style="color:darkgreen;">
        Email Address / Eposadres
    </label>
    <br />
    #EMAIL#
    <br /><br />

    <label style="color:darkgreen;">
        Preferred Contact Method / Gekose kontak metode
    </label>
    <br />
    #PREFRERRED#
    <br /><br />


    <label style="color:darkgreen;">
        Query relating to / Navraag rakende
    </label>
    <br />
    #QUERY#
    <br /><br />

    <label style="color:darkgreen;">Question / Navraag</label>
    <br />
    #QUESTION#
    <br /><br />

</body>
</html>
