<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>News #3 - Business</title>
</head>
<body class="MsoNormal" style="margin: 0px; padding: 0px; background-color: rgb(255, 255, 255);">
    <!-- main table wrapper used for background color -->
    <table style="width: 600px; height: 100%; font-family: Arial; background-color: rgb(255, 255, 255);" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td style="width: 100%; vertical-align: bottom; align: left;">
                    <!-- the newsletter -->
                    <table style="margin: 0px auto; text-align: center; background-color: rgb(255, 255, 255);" cellspacing="0" cellpadding="0">
                        <tbody>

                            <tr>
                                <td>
                                    <span style="font-size: 13px;">
                                    </span><span style="font-size: 13px;">
                                    </span>
                                    <p>
                                    </p>
                                    <table cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <!--<td width="40" style="text-align: justify;">
                                                    <p>&nbsp;</p>
                                                </td>-->
                                                <td font-size: 12px;" colspan="3" style="text-align: left;">
                                                    #DEAR#
                                                    <br />
                                                    <br />
                                                </td>
                                            </tr>
                                            <tr>
                                                <!--<td width="40" style="text-align: justify;">
                                                    <p>&nbsp;</p>
                                                </td>-->
                                                <td style="text-align: justify;  font-size: 12px;" colspan="3">
                                                    #MESSSAGE#

                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20" style="text-align: justify;">
                                                    <p>&nbsp;</p>
                                                </td>
                                                <td style="text-align: left; font-size: 12px;">



                                                    <br />
                                                    With compliments, herewith the following links to:

                                                    #CONTENT#

                                                    <br />


                                                </td>
                                                <td style="width: 40px;"></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td width="40"></td>
                                                <td width="520" height="40" style="text-align: center; font-family: Arial, sans-serif; font-size: 12px; background-color: rgb(242, 242, 242);">
                                                    Sent to you on behalf of #AGENCYNAME#.
                                                    <br />
                                                    <b>Contact:</b> #PERSONNAME# |
                                                    <b>email:</b>  <a href="mailto:#PERSONEMAIL#"> #PERSONEMAIL#</a> |
                                                    <b>Cell no:</b>  #CELL#

                                                </td>
                                                <td width="40"></td>
                                            </tr>
                                            <tr>
                                                <td height="15" colspan="3"></td>
                                            </tr>
                                             <tr>
                                                <td width="40"></td>
                                                <td width="520" height="40" style="text-align: center; font-family: Arial, sans-serif; font-size: 12px;">

                                                    #IMAGELOGO#

                                                </td>
                                                <td width="40"></td>
                                            </tr>
                                            <tr>
                                                <td width="600" height="26" colspan="3"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- end the newsletter -->
                </td>
            </tr>
            <tr>
                <td height="100">
                    <!-- spacer -->
                </td>
            </tr>
        </tbody>
    </table>
    <!-- end main table wrapper -->
</body>
</html>