<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body style="font-family: Verdana; font-size: 12px; background-color: #929272">
    <div style="width: 60%; margin: 0px auto; border: 1px solid lightgray; background-color: white;">
        
                        <div style="background-color:#003300; color: #DFE6D0; font-size: 15px; font-weight: bold; padding: 25px 10px 25px 10px;">
                            Introduction e-mail to Member Login
                        </div>
                        <div style="padding: 5px 5px 5px 5px;">
                            Dear MC-Member,
                        </div>
                        <div style="padding: 5px 5px 5px 5px;">
                            Thank you for attending the presentation at MCademy where you were introduced to your
                            new personal MCMember Area. We trust that this new MCTool will assist your clients and at
                            the same time enhance your business.
                        </div>
                        <div style="padding: 5px 5px 5px 5px;">
                            Herewith below your Username and your temporary password. Please follow the
                            instructions below:
                        </div>
                        <div style="padding: 5px 5px 5px 5px;">
                            <b>Your Username is:</b> #USERNAME#
                        </div>
                        <div style="padding: 5px 5px 5px 5px;">
                            <b>Your Temporary password is:</b> #PASSWORD#
                        </div>
                        <div style="padding: 5px 5px 5px 5px;">
                            <b>Please click on the following link to reset your Password:</b>
                        </div>
                        <div style="padding: 5px 5px 15px 5px;">
                            <a href="http://www.mcvdberg.co.za/language/en/firstTimeUser">http://www.mcvdberg.co.za/language/en/firstTimeUser</a>
                        </div>
                        
    </div>
</body>
</html>
