<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>News #3 - Business</title>
</head>
<body class="MsoNormal" style="margin: 0px; padding: 0px; background-color: rgb(255, 255, 255);">
    <!-- main table wrapper used for background color -->
    <table style="width: 600px; height: 100%; font-family: Arial; background-color: rgb(255, 255, 255);" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td style="width: 100%; vertical-align: bottom; align: left;">
                    <!-- the newsletter -->
                    <table style="margin: 0px auto; text-align: center; background-color: rgb(255, 255, 255);" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td>
                                    <table cellspacing="0" cellpadding="0">
                                        <tbody></tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td width="600" style="line-height: 0px; font-size: 1px;">
                                                    <img style="width: 600px; height: 195px;" src="http://mcvanderbergtools.azurewebsites.net/images/MC2Agent1.jpg" />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span style="font-size: 13px;">
                                    </span><span style="font-size: 13px;">
                                    </span>
                                    <p>
                                    </p>
                                    <table cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td width="40" style="text-align: justify;">
                                                    <p>&nbsp;</p>
                                                </td>
                                                <td style="text-align: left;">
                                                
                                                
                                                



                                                
                                                
                                                #CONTENT
                                                
                                                
                                                
                                                </td>
                                                <td style="width: 40px;"></td>
                                            </tr>
                                            <tr>
                                                <td colspan="3"><img style="border: 0px currentColor; width: 600px;" alt="" src="http://mcvanderbergtools.azurewebsites.net/images/MCvanderBergLogoEnglish1.png"  /></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td width="40"></td>
                                                <td width="520" height="40" style="text-align: center; font-family: Arial, sans-serif; font-size: 12px; background-color: rgb(242, 242, 242);">
                                                    <a style="color: rgb(0, 0, 0);" href="http://www.mcvdberg.co.za">Visit our website / Besoek ons webwerf</a> | <a style="color: rgb(0, 0, 0);" href="https://twitter.com/mcvanderberg">follow on Twitter / Volg ons op Twitter</a> | <a style="color: rgb(0, 0, 0);" href="http://www.facebook.com/McVanDerBergInc">friend on Facebook / Volg ons op Facebook</a>
                                                </td>
                                                <td width="40"></td>
                                            </tr>
                                            <tr>
                                                <td height="15" colspan="3"></td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="text-align:center; text-align: center; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;">
                                                    Contact us on / Kontak ons by: (012) 660 6000 or email us / of epos ons: info@mcvdberg.co.za
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="40"></td>
                                                <td width="520" height="40" style="text-align: center; font-family: Arial, sans-serif; font-size: 12px;">
                                                    Copyright &copy; 2016 M.C. van der Berg Incorporated, All rights reserved. / Kopiereg © 2016 MC van der Berg Ingelyf, Alle regte voorbehou
                                                </td>
                                                <td width="40"></td>
                                            </tr>
                                            <tr>
                                                <td width="600" height="26" colspan="3"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- end the newsletter -->
                </td>
            </tr>
            <tr>
                <td height="100">
                    <!-- spacer -->
                </td>
            </tr>
        </tbody>
    </table>
    <!-- end main table wrapper -->
</body>
</html>